.footer {
  background-color: brown;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0 auto;
}
